.container {
    width: 100%;
    height: 100%;

    overflow: hidden;

    &__home,
    &__buyer,
    &__delivered {
        overflow: auto;
        width: 100%;
        height: 100%;
    }
}

.homemenu {
    display: flex;
    gap: 10px;
    padding: 1rem 1rem;

    &__left {
        flex: 1;
    }

    &__right {
        flex: 1;
    }

}

.total {
    cursor: pointer;
    box-shadow: 0 0 2px gray;
    padding: 1rem;
    border-radius: 10px;
    background-color: #F8EDE3;
    color: #7D6E83;

    h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 4rem;
    }
}

.add-new-person {
    padding: 0 1rem;

    button {
        font-weight: 800;
        color: #7D6E83;
        width: 100%;
        padding: .5rem 0;
        background-color: #F8EDE3;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s all;

        &:hover {
            background-color: #7D6E83;
            color: white;
        }

        &:active {
            transform: translateY(.3rem);
        }
    }
}

.homemenu-users,
.buyermenu-users,
.deliverdmenu-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 1rem;

    &__user {
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 2px gray;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #F8EDE3;
        transition: .3s all;
        color: #7D6E83;

        &:hover {
            background-color: #7D6E83;
            color: white;

        }

        div {
            text-align: center;
            color: inherit;

            svg {
                margin-bottom: .5rem;
                font-size: 2rem;
            }
        }
    }
}

.buyermenu,
.deliverdmenu-users,
.homemenu-users {
    padding: 1rem;
}

.User-profile-container {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 4;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #7D6E83 !important;

}

.profile {
    margin: 4rem 0;
    background-color: #7D6E83 !important;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        z-index: 10;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 3px gray;
        padding: 1rem;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background-color: #DFD3C3;
        min-width: 40rem;
    }

    .close-btn {
        cursor: pointer;
        border: none;
        outline: none;
        position: absolute;
        top: 0%;
        z-index: 10;
        right: 0%;
        background-color: transparent;

        svg {
            color: white;
            background-color: #D2001A;
            font-size: 1.5rem;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 1rem;

        &::after {
            content: '';
            width: 70%;
            border-bottom: 1px solid #F8EDE3;
            bottom: 0%;
            position: absolute;
            margin-top: 2rem;
            left: 15%;
        }

        .user-profile {
            text-align: center;
        }

        span {
            flex: 1;
            // display: block;
            text-align: center;

            b {
                display: inline-block;
            }

            svg {
                font-size: 3rem;
                color: #7D6E83;
                margin-bottom: 1rem;
            }

            p {
                font-size: .85rem;
                margin-bottom: .5rem;
            }
        }


    }

    &__btns {
        display: flex;
        gap: 10px;
        margin: 1rem 0;

        button {
            flex: 1;
            padding: .5rem 0;
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: 0 0 2px 0px #716a6a;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 5px;
            font-size: 1rem;

            svg {
                font-size: 1.2rem;
                color: #D2001A;
            }
        }
    }

    &__content {
        padding: 0rem;
        // background-color: red;

        max-height: 15rem;
        overflow: auto;
        box-shadow: 0 0 1px black;
        background-color: #F8EDE3;

        ul {
            display: flex;
            flex-direction: column;

            .main-list {
                background-color: #7D6E83;
                padding: .3rem;
                text-align: center;

                h4 {
                    // border-left: .5px solid black;
                    // border-right: .5px solid black;
                    padding-left: 0px;
                    border: none;
                    flex: 1;
                    font-weight: 800;

                    &:last-child {
                        border-right: none;
                    }
                }
            }

            li {
                font-weight: 500;
                background-color: white;
                color: black;
                box-shadow: 0 0 2px gray;
                display: flex;
                text-align: start;
                padding: 0%;

                h4 {
                    padding-left: 10px !important;
                    // border-left: .5px solid black;
                    border-right: .5px solid grey;
                    flex: 1;
                    font-weight: 300;

                    &:last-child {
                        border-right: none;
                    }
                }

                .main-list-add {
                    background-color: #D2001A;
                    padding: .1rem .3rem;
                }

                .main-list-remove {
                    background-color: #A8E890;
                    padding: .1rem .3rem;
                }

                &:last-child {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}


.end-contract-btn {
    text-align: center;
    width: 100%;
    margin: 1rem 0;

    button {
        padding: .3rem 1rem;
        background-color: #D2001A;
        cursor: pointer;
        font-weight: 700;
        border: none;
        outline: none;

        &:active {
            background-color: black;
            color: white;
        }
    }
}

.fromUserSubmit {
    background-color: #F8EDE3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    h3 {
        color: #7D6E83;
    }

    label {
        margin-top: .5rem;
        font-size: .75rem;
    }

    input[type='number'] {
        margin-top: .3rem;
        background-color: transparent;
        border-radius: 10px;
        padding: .1rem .5rem;
        border-color: #7D6E83;
        border: 1px solid #7D6E83;
        outline: 1px solid #7D6E83;
        outline-color: #7D6E83;
    }

    input[type='submit'] {
        border-radius: 20px;
        cursor: pointer;
        background-color: #A8E890;
        border: none;
        outline: none;
        padding: .3rem 0;
        // width: 5rem;
        width: 52%;
        font-weight: 400;
        margin: auto;
        margin-top: .5rem;

        &:active,
        &:hover {
            background-color: #a8e890b6;
        }
    }
}

@media screen and (max-width:700px) {
    .homemenu {
        flex-direction: column;
        padding: .5rem;
    }

    .homemenu-users,
    .buyermenu-users,
    .deliverdmenu-users {
        padding: .5rem;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        &__user {
            padding: .5rem;
            font-size: .75rem;
        }
    }

    .container {
        min-height: 100%;
        max-height: 100%;
    }

    .buyermenu {
        padding: 0;
    }


    .profile {
        align-items: flex-start;
        margin: 0%;

        &__container {
            padding: 0%;
            border-radius: 0%;
            min-height: 100vh;
            min-width: 100% !important;
        }

        &__heading {
            flex-direction: column;

            span {
                b {
                    margin-top: .1rem;
                }
            }
        }

        &__content {
            max-height: 100%;

            ul li h4 {
                text-align: center;
                padding-left: 0% !important;
                border: none;
            }
        }
    }

}

// @media screen and (max-height:600px) {
//     .profile{
//         // min-height: 150vh;
//     }
// }